html,body {	
	height: 100%;
	margin-top: 0;
}
header,main,footer{
	width: 90%;
}
.container
{
	max-width: 1080px;
	background-color: rgb(230,239,255);		
	margin:auto;
	overflow-y: auto;
	height: 100%
}
.tableLayout{
	width: 100%;
}
.tableLayout td{
	text-align: center;
		width: 15%;
}

.tableLayout td:nth-of-type(3){
		width: 40%;
}
